@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	/* --primary-color: #53716A; */
	--primary-color: #86866C;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #8BB78A;
	--heading-color: #ffffff;
	--text-color: #ffffff;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--primary-color);
	/* max-width: 1400px; */
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.container {
	width: 100%;
	max-width: 1220px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.ghost-btn {
	align-items: center;
	padding: 0.55rem 1.4rem;
	color: var(--heading-color);
	font-weight: 700;
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: 2px solid var(--heading-color);
	border-radius: 6px;
	text-decoration: none !important;
	background: transparent;
	transition: color 0.2s linear, border-color 0.2s linear;
	cursor: pointer;
}
.ghost-btn:hover {
	border-color: var(--accent-color);
	color: var(--pure-white) !important;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--pure-white);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
